@using Microsoft.AspNetCore.Identity
@using OfertaFone.WebUI.Identity

<!DOCTYPE html>
<style>
    .section-footer ul a {
        color: inherit;
    }

    .header-main {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .section-header .logo {
        max-height: 60px;
        width: auto;
    }
</style>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link href="~/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfertaFone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-4">
                        <a asp-action="Index" asp-controller="Vitrine" class="brand-wrap">
                            <img alt="OfertaFone" class="logo" src="~/assets/logo.png">
                        </a>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <form method="get" asp-controller="Vitrine" asp-action="Index" class="search">
                            <div class="input-group w-100">
                                <input type="text" id="q" name="q" class="form-control" value="@ViewBag.Search" placeholder="O que você está procurando?">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-end">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="section-footer border-top p-3">
        <div class="container">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md-4">
                        <article class="mr-3">
                            <p class="logo-footer">OfertaFone</p>
                            <p class="mt-3">Um completo e-commerce para revenda dos seus usados.</p>
                            <div>
                                <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone"><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-icon btn-light" title="GitHub" target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone"><i class="fab fa-github"></i></a>
                            </div>
                        </article>
                    </aside>
                    <aside class="col-sm-4 col-md-3">
                        <h6 class="title">About</h6>
                        <ul class="list-unstyled">
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">About us</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">Services</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">Terms of use</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">FAQ</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-4 col-md-3">
                        <h6 class="title">Services</h6>
                        <ul class="list-unstyled">
                            <li> <a asp-controller="Order" asp-action="MyOrders">My Orders</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">Profile</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">Canceled orders</a></li>
                            <li> <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone">Chargeback</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-2  col-md-2">
                        <h6 class="title">Mobile</h6>
                        <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone" class="d-block mb-2"><img src="~/assets/misc/appstore.png" height="40"></a>
                        <a target="_blank" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/oferta_fone" class="d-block mb-2"><img src="~/assets/misc/playmarket.png" height="40"></a>
                    </aside>
                </div>
            </section>

            <section class="footer-copyright border-top">
                <p class="float-left text-muted"> ©2022, feito com 🧡 por OfertaFone Team</p>
            </section>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
