@model ForgotPasswordViewModel

@{
    Layout = TipoLayout.LAYOUT_ACCOUNT;
}

<div class="card-body">
    <div class="app-brand justify-content-center">
        <a class="app-brand-link gap-2" asp-area="" asp-controller="vitrine" asp-action="index">
            <span class="app-brand-logo demo">
            </span>
            <span class="app-brand-text demo text-body fw-bolder">OfertaFone</span>
        </a>
    </div>
    <h4 class="mb-2">Esqueceu sua senha? 🔒</h4>
    <p class="mb-4">Digite seu e-mail e enviaremos instruções para redefinir sua senha</p>
    <form asp-controller="Account" asp-action="ForgotPassword" class="mb-3" method="POST">
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email"
                   type="text"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Entre com seu email"
                   autofocus />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button class="btn btn-primary d-grid w-100">Enviar</button>
    </form>
    <div class="text-center">
        <a asp-controller="Account" asp-action="Login" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            Login
        </a>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")