@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = TipoLayout.LAYOUT_ACCOUNT;
}
<style>
    .authentication-wrapper.authentication-basic .authentication-inner {
        max-width: 600px;
    }
</style>
<div class="app-brand justify-content-center">
    <a class="app-brand-link gap-2" asp-area="" asp-controller="vitrine" asp-action="index">
        <span class="app-brand-logo demo">
        </span>
        <span class="app-brand-text demo text-body fw-bolder">OfertaFone</span>
    </a>
</div>
<div class="col-12">
    <h4>
        Registre-se
    </h4>
    <form asp-action="Register" asp-controller="Account">
        <div class="form-horizontal">

            <div class="mb-3">
                <label asp-for="Nome" class="col-md-6 control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Login" class="col-md-6 control-label">Nome de usuário</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="col-md-6 control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Senha" class="col-md-6 control-label">Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="col-md-6 control-label">Confirme sua senha</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div style="justify-content:center">
                    <input style="width:100%" type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")