@model LoginViewModel
@{
    ViewData["Title"] = "Register";
    Layout = TipoLayout.LAYOUT_ACCOUNT;
}

<h4 class="mb-2">Bem-vindo ao OfertaFone! 👋</h4>
<p class="mb-4">Faça login na sua conta e comece a aventura</p>
<form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="mb-3">
        <label asp-for="Senha" class="col-md-6 control-label">Digite a nova senha</label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="col-md-6 control-label">Confirme sua nova senha</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">Redefinir Senha</button>
    </div>

</form>

@await Html.PartialAsync("_ValidationScriptsPartial")