@model int

<style>
    .widget-header {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .widget-header a {
        color: #343a40;
    }

    .widget-header a:hover {
        color: #3167eb;
    }

    .widget-header i {
        color: #969696;
    }

    .widget-header form {
        min-width: 280px;
    }

    .widget-header .title {
        display: block;
    }

    .widget-header .notify {
        position: absolute;
        top: -3px;
        right: -10px;
    }

    .widget-header:hover i {
        color: #3167eb;
    }

    .icon-xs, .icon-sm, .icon-md, .icon-lg {
        display: inline-block;
        text-align: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    .icon-xs {
        width: 32px;
        height: 32px;
        line-height: 32px !important;
        font-size: 16px;
    }

    .icon-sm {
        width: 48px;
        height: 48px;
        line-height: 48px !important;
        font-size: 20px;
    }
</style>
<div style="padding-right: 15px">
    <a asp-controller="Carrinho" asp-action="Index" class="widget-header">
        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
        <span class="badge badge-pill badge-danger notify">@Model</span>
    </a>
</div>